/*---GERAL---*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: hsl(228, 15%, 38%);
  --secundary-color: hsl(348, 100%, 66%);
  --third-color: hsl(0, 0%, 94%);
  --shapes-box: hsl(240, 33%, 99%);
  --span-color: hsl(258, 14%, 77%);

  font-size: 62.5%; /* 1rem = 10px */
}

body {
  background: #E5E5E5;
  font-family: 'Poppins', sans-serif;
}

body::before {
  content: '';
  width: 100%;
  height: 43.6rem;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  background: var(--primary-color);
}

.page {
  width: 75rem;
  margin: auto;
}

footer {
  width: 75rem;
}

h1, 
legend,
h2,
button {
  font-family: 'Staatliches', cursive;
  text-transform: uppercase;
}

legend,
h2{
  color: var(--primary-color);
}

fieldset legend {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.4rem;

  border-bottom: .1rem solid #E6E6F0; 
  padding-bottom: 1.6rem;
}

header {
  width: 41.7rem;
  margin-top: 14rem;
  
  color: white;
  
  margin-bottom: 5.8rem;
}

header h1 {
  font-size: 4.8rem;
  line-height: 6rem;
  
  margin-bottom: 1.8rem;
}

header p {
  font-size: 2rem;
  line-height: 3rem;
}

form {
  margin-top: 5.8rem;

  border-radius: 2rem 2rem 0 0;
  border: none;

  /*min-height: 300px;*/

  padding: 6.4rem;

  display: flex;
  flex-direction: column;
  gap: 3rem;
  
  background: white;
}

fieldset {
  border: none;
}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-wrapper input,
.col-3 input {
  background: var(--shapes-box);
  border: .1rem solid #E6E6F0;
  border-radius: .8rem;

  height: 5.6rem;
  padding-left: 1.2rem;
}

.input-wrapper label {
  font-size: 1.4rem;
  margin-bottom: .8rem;
}

span {
  color: var(--span-color);
}

.name {
  display: flex;
  gap: 2.2rem;
}

.name > div {
  width: 50%;
}

.col-3 {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.col-3 > div:nth-child(1) {
  width: 100%;
}

footer{
  background: var(--primary-color);
  border-radius: 0 0 2rem 2rem;
}

footer button {
  background: var(--secundary-color);
  color: white;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 4rem;
  
  margin: 5.2rem 7.1rem;

  width: 60.8rem;
  
  border-radius: 2rem;
  border: none;
}

footer button:hover {
  background: #f8234e;
  cursor: pointer;
}

input:invalid {
 border: 1px solid #FF1010;
}