* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --hue: 250;
  --bg-color: hsl(var(--hue), 83%, 95%);
  --heading-color: hsl(var(--hue), 83%, 64%);
  --text-color: hsl(var(--hue), 100%, 11%);
  
  --ff-body: 'Epilogue', sans-serif;

  font-size: 62.5%;
}

body {
  font-family: var(--ff-body);
  background: var(--bg-color);
   
  padding: 6rem 2.3rem 6.6rem;
  font-size: 1.6rem;
  line-height: 3.2rem;
}

main {
  max-width: 33rem;

  margin: 0 auto;
}

main p:first-child {
  color: hsl(var(--hue), 83%, 64%);
  text-transform: uppercase;
  letter-spacing: 3px;

  margin-bottom: 1.7rem;
}

h1 {
  font-weight: 800;
  font-size: 4rem;
  line-height: 4.8rem;

  color: var(--text-color);
  margin-bottom: 1.5rem;
}

h1 + p { 
  color: var(--text-color);

  margin-bottom: 3.2rem;
}

a {
  color: var(--text-color);

  text-decoration: none;
}

a:hover{
  color: hsl(var(--hue), 83%, 64%);
  cursor: pointer;
}

ul {
  list-style: none;
  margin-top: 7.2rem;
}

ul li {
  font-weight: 700;
  font-size: 2.4rem;

  color: var(--text-color);

  max-width: 25.7rem;

  display: flex;
  gap: 3.8rem;
}

ul li span {
  font-weight: 800;
  font-size: 7.2rem;
  line-height: 8rem;

  letter-spacing: -2px;
}

@media (min-width: 700px) {
  body {
    padding: 8rem;
  }

  main {
    max-width: 1020px;

    display: flex;
    gap: 11.6rem;
  }

  main > div {
    max-width: 48.5rem;
  }

  ul li {
    gap: 5.3rem;
    max-width: 45rem;
    align-items: center;
  }
}